<!DOCTYPE html>
<html lang="{{locale}}">
  <head>
    {{> common/head.html}}
  </head>
  <body>
    {{> common/hero.html}}

    <main class="content">
      <!-- 1. WELCOME SECTION -->
      <section class="content__section">
        <h2 class="heading__level2">{{home.welcome.title}}</h2>
        <h3 class="heading__level3">{{home.welcome.subtitle}}</h3>
        <p class="content__text">{{home.welcome.p1}}</p>
        <p class="content__text">{{home.welcome.p2}}</p>
        <p class="content__text">{{home.welcome.p3}}</p>
        <p class="content__text">{{home.welcome.p4}}</p>
        <p class="content__text">{{home.welcome.p5}}</p>
      </section>

      <!-- 2. HOW IT WORKS SECTION -->
      <section class="content__section">
        <h2 class="heading__level2">{{home.how-it-works.title}}</h2>
        <p class="content__text">{{home.how-it-works.p1}}</p>
        <p class="content__text">{{home.how-it-works.p2}}</p>
        <picture class="content__picture">
          <source srcset="../images/home/how-it-works.webp" type="image/webp" />
          <img
            src="../images/home/how-it-works.jpg"
            alt="Woman meditating"
            class="content__image--horizontal"
          />
        </picture>
        <h3 class="heading__level3">{{home.how-it-works.subtitle}}</h3>
        <p class="content__text">{{home.how-it-works.p3}}</p>
        <p class="content__text">{{home.how-it-works.p4}}</p>
        <!-- Method icons -->
        {{> common/method-icons.html}}
        <!-- CTA buttons -->
        <div class="cta">
          <a href="method/index.html" class="cta__button"
            >{{home.how-it-works.cta1}}</a
          >
          <a href="contact/index.html" class="cta__button"
            >{{home.how-it-works.cta2}}</a
          >
        </div>
      </section>

      <!-- 3. THE HEART BEHIND SIMPLIFY LIVING SECTION -->
      <section class="content__section">
        <h2 class="heading__level2">{{home.about-me.title}}</h2>
        <h3 class="heading__level3--capitalized">
          {{home.about-me.subtitle-role}}
        </h3>
        <div class="content__two-column">
          <picture class="content__picture">
            <source
              srcset="../images/home/simone-portrait.webp"
              type="image/webp"
            />
            <img
              src="../images/home/simone-portrait.jpg"
              alt="simone hagen portrait"
              class="content__image--round"
            />
          </picture>
          <picture class="content__picture">
            <img
              src="../images/home/logo-bronze-consultant.png"
              alt="konmari bronze consultant logo"
              class="content__image--round"
            />
          </picture>
        </div>

        <p class="content__text">{{home.about-me.p1}}</p>
        <p class="content__text">{{home.about-me.p2}}</p>
        <div class="cta">
          <a href="about/index.html" class="cta__button"
            >{{home.about-me.cta}}</a
          >
        </div>
      </section>

      <!-- 4. SERVICES SECTION -->
      <section class="content__section">
        <h2 class="heading__level2">{{home.services.title}}</h2>
        <div class="content__four-column">
          <div class="content__single-column">
            <picture class="content__picture">
              <source
                srcset="../images/services/clothes-&-more.webp"
                type="image/webp"
              />
              <img
                src="../images/services/clothes-&-more.jpg"
                alt="clothes & more service"
                class="content__image--vertical"
              />
            </picture>
            <h3 class="heading__level3--smaller-margin-bottom">
              {{home.services.subtitle1}}
            </h3>
            <p class="content__text">{{home.services.p1}}</p>
          </div>
          <div class="content__single-column">
            <picture class="content__picture">
              <source
                srcset="../images/services/paperwork.webp"
                type="image/webp"
              />
              <img
                src="../images/services/paperwork.jpg"
                alt="paperwork service"
                class="content__image--vertical"
              />
            </picture>
            <h3 class="heading__level3--smaller-margin-bottom">
              {{home.services.subtitle2}}
            </h3>
            <p class="content__text">{{home.services.p2}}</p>
          </div>
          <div class="content__single-column">
            <picture class="content__picture">
              <source srcset="../images/services/kids.webp" type="image/webp" />
              <img
                src="../images/services/kids.jpg"
                alt="kids service"
                class="content__image--vertical"
              />
            </picture>
            <h3 class="heading__level3--smaller-margin-bottom">
              {{home.services.subtitle3}}
            </h3>
            <p class="content__text">{{home.services.p3}}</p>
          </div>
          <div class="content__single-column">
            <picture class="content__picture">
              <source
                srcset="../images/services/all-in.webp"
                type="image/webp"
              />
              <img
                src="../images/services/all-in.jpg"
                alt="all in service"
                class="content__image--vertical"
              />
            </picture>
            <h3 class="heading__level3--smaller-margin-bottom">
              {{home.services.subtitle4}}
            </h3>
            <p class="content__text">{{home.services.p4}}</p>
          </div>
        </div>
        <div class="cta">
          <a href="services/index.html" class="cta__button"
            >{{home.services.cta}}</a
          >
        </div>
      </section>

      <!-- 5. GALLERY SECTION -->
      <section class="content__section">
        <h2 class="heading__level2">{{home.gallery.title}}</h2>
        <p class="content__text">{{home.gallery.p1}}</p>

        <!-- Before/After Slider -->
        <!-- Add more images to messages and respective indices here -->
         <div class="before-after__two-column-container">
        {{> common/before-after.html index=0}} 
        {{> common/before-after.html index=1}}
      </div>
        <div class="cta">
          <a href="gallery/index.html" class="cta__button">{{home.gallery.cta}}</a>
        </div>
      </section>

      <!-- 6. TESTIMONIALS SECTION -->
      <section class="content__section">
        <h2 class="heading__level2">{{home.testimonials.title}}</h2>
      </section>

      <!-- 7. FINAL CTA SECTION -->
      <section class="content__section">
        <h2 class="heading__level2">{{home.final-cta.title}}</h2>
        <p class="content__text">{{home.final-cta.p1}}</p>
        <p class="content__text">{{home.final-cta.p2}}</p>
        <div class="cta">
          <a href="contact/index.html" class="cta__button">{{home.final-cta.cta}}</a>
        </div>
      </section>
    </main>

    <footer class="site-footer">{{> common/footer.html}}</footer>

    <script src="../js/navbar.js" defer></script>
    <script src="../js/before-after.js" defer></script>
  </body>
</html>
