<!DOCTYPE html>
<html lang="{{locale}}">
  <head>
    {{> components/head.html}}
  </head>
  <body>
    <div class="hero__nav">{{> components/navbar.html}}</div>

    <main class="legal legal--gap-xxl">
      <!-- LEGAL NOTICE CONTENT -->
      <section class="content__section content__section--legal-page" data-aos="fade-up" data-aos-delay="150">
        <h1 class="heading__level2--legal">{{legal-notice.title}}</h1>

        <!-- Operator of the Website -->
        <h2 class="heading__level3--legal">{{legal-notice.operator.title}}</h2>
        <div class="legal__text-section">
          <p class="legal__text">{{legal-notice.operator.consultant-name}}</p>
          <p class="legal__text">{{legal-notice.operator.business-name}}</p>
          <p class="legal__text">{{legal-notice.operator.business-address}}</p>
          <p class="legal__text">{{legal-notice.operator.business-postal-code}}</p>
        </div>
        <div class="legal__text-section">
          <p class="legal__text">{{legal-notice.operator.email-text}} <a href="mailto:{{legal-notice.operator.email}}" class="contact-info__link">{{legal-notice.operator.email}}</a></p>
          <p class="legal__text">{{legal-notice.operator.phone-de-text}} {{legal-notice.operator.phone-de}}</p>
          <p class="legal__text">{{legal-notice.operator.phone-ch-text}} {{legal-notice.operator.phone-ch}}</p>
        </div>
        <div class="legal__text-section">
          <p class="legal__text">{{legal-notice.operator.tax-number-text}} {{legal-notice.operator.tax-number}}</p>
          <p class="legal__text">{{legal-notice.operator.tax.vat-note}}</p>
        </div>

        <!-- Professional Information -->
        <h2 class="heading__level3--legal">{{legal-notice.professional.title}}</h2>
        <p class="legal__text">{{legal-notice.professional.p1}}</p>

        <!-- Online Dispute Resolution -->
        <h2 class="heading__level3--legal">{{legal-notice.dispute.title}}</h2>
        <div class="legal__text-section">
          <p class="legal__text">{{legal-notice.dispute.eu-platform-text}}</p>
          <a href="{{legal-notice.dispute.eu-platform-link}}" target="_blank" class="contact-info__link">{{legal-notice.dispute.eu-platform-link}}</a>
        </div>
        <p class="legal__text">{{legal-notice.dispute.participation}}</p>

        <!-- Disclaimer -->
        <h2 class="heading__level3--legal">{{legal-notice.disclaimer.title}}</h2>
        <p class="legal__text">{{legal-notice.disclaimer.p1}}</p>

        <!-- Limitation of Liability -->
        <h2 class="heading__level3--legal">{{legal-notice.liability.title}}</h2>
        <!-- Limitation of Liability - Content of the Website -->
        <h3 class="heading__level4--legal">{{legal-notice.liability.content.title}}</h3>
        <p class="legal__text">{{legal-notice.liability.content.p1}}</p>
        <p class="legal__text">{{legal-notice.liability.content.p2}}</p>

        <!-- Limitation of Liability - References and Links -->
        <h3 class="heading__level4--legal">{{legal-notice.liability.references-links.title}}</h3>
        <p class="legal__text">{{legal-notice.liability.references-links.p1}}</p>
        <p class="legal__text">{{legal-notice.liability.references-links.p2}}</p>

        <!-- Limitation of Liability - External Links -->
        <h3 class="heading__level4--legal">{{legal-notice.liability.external-links.title}}</h3>
        <p class="legal__text">{{legal-notice.liability.external-links.p1}}</p>

        <!-- Limitation of Liability - Third-Party Services -->
        <h3 class="heading__level4--legal">{{legal-notice.liability.external-third-party-title}}</h3>
        <p class="legal__text">{{legal-notice.liability.external-third-party.p1}}</p>
        <p class="legal__text">{{legal-notice.liability.external-third-party.p2}}</p>

        <!-- Copyright -->
        <h2 class="heading__level3--legal">{{legal-notice.copyright.title}}</h2>
        <p class="legal__text">{{legal-notice.copyright.p1}}</p>
        <p class="legal__text">{{legal-notice.copyright.p2}}</p>

        <!-- Data Protection -->
        <h2 class="heading__level3--legal">{{legal-notice.data-protection.title}}</h2>
        <p class="legal__text">{{legal-notice.data-protection.p1}} <a href="{{nav-link:privacy-policy}}" class="contact-info__link">{{legal-notice.data-protection.privacy-policy}}</a>{{legal-notice.data-protection.full-stop}}</p>

        <!-- Last Updated -->
        <p class="legal__text--small">{{legal-notice.last-updated}}</p>
      </section>
    </main>

    <footer class="site-footer site-footer--legal">{{> components/footer.html}}</footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="{{base-path}}js/scroll-animations.js" defer></script>
    <script src="{{base-path}}js/navbar.js" defer></script>
  </body>
</html>